body{
  background-color: #212121;
  width: 100vw;
  margin: 0px !important;
}
.container-fluid{
  height: 100vh;
  padding: 0px !important;
  background-image: url("../img/fondoPeque.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.navbar{
  background-color: #212121 !important;
  padding: 10px 20px 10px 20px;
}

.player1{
  background-color: rgba(0, 41, 255, 0.3);
  box-shadow: 5px 5px 13px black inset, -3px -3px 13px black inset;
}
.patrones{
  width: 100%;
  margin: 0px !important;
}
.player2{
  background-color: rgba(255, 0, 0, 0.3);
  box-shadow: 5px 5px 13px black inset, -3px -3px 13px black inset;
}
.player1 h5, .player2 h5{
  margin: 20px 0px 20px 0px;
}
