body{
  background-color: #212121;
  width: 100vw;
  margin: 0px !important;
}
.container-fluid{
  height: 100vh;
  padding: 0px !important;
  background-image: url("../img/fondoPeque.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
label{
  font-family: 'Lato', sans-serif;
  font-size: 16px !important;
}

.navbar{
  background-color: #212121 !important;
  padding: 10px 20px 10px 20px;
}
.img-logo{
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}
.player1, .player2{
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  margin: 2px;
}
#p1, #p2{
  font-family: 'Passion One', cursive;
  font-size: 24px;
}
#p1{
  color: #0d47a1 !important;
}
#p2{
  color: #d32f2f !important;
}

.patrones{
  width: 100%;
  margin: 0px !important;
}
.player1 h5, .player2 h5{
  margin: 20px 0px 20px 0px;
}

.skills {
  background-color: rgba(255, 255, 255, 0.5);
  height: auto;
  padding: 25px;
  box-shadow: 5px 5px 13px black inset, -5px -5px 13px black inset;
}
.terminar{
  height: 120px;
  margin-top: 20px;
}

#marca{
  font-family: 'Permanent Marker', cursive;
  color: red;
  font-size: 20px;
}
